<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Add New Testing Task</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="addtask">
    <h2>添加新的存活测试</h2>
    <form action="add" method="post">
        Task Name: <input name="name" value="new push test" /><br>
        Channel Url: <input name="url" id="channelurl" value="http://" /><br>
        Add Task: <input type="submit" value="submit" /><br>
    </form>
</div>
</body>
</html>
