<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>WP7 Push Notification Test</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h2>WP7 Push Notification 在线测试</h2>
<p><a href="/once">Push Notification 请求测试</a></p>
<p><a href="/list">周期性测试任务</a></p>
</body>
</html>
