<html>
<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script type="text/javascript" src="/media/checkbox.js"></script>
  <link type="text/css" rel="stylesheet" href="/media/main.css" />
</head>
<body>
  <form action="subscribe" method="post">
    {% for i in form.choices.choices %}
      <input type="checkbox" value="{{ i }}" />
    {% endfor %}
    {{form.choices}}
    <input type="submit" value="订阅">
    <div id="order">
    </div>
  </form>
</body>
</html>
