<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="48232eggfly.50141C3915165" Publisher="CN=92341DB6-7476-4B65-8EBD-4E57932566DF" Version="1.0.0.0" />
  <Properties>
    <DisplayName>阳光美女周刊</DisplayName>
    <PublisherDisplayName>eggfly</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GirlsWeekly.App">
      <VisualElements DisplayName="ms-resource:AppDisplayName" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="ms-resource:AppDescription" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="ms-resource:ShortName" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>